// abstracts-helpers/_variables.scss
$primary: #22262a !default;
$light: #faf8f7 !default;
$dark: #18191a !default;
$gray: #737578 !default;
$border-gray: #e0e0e1 !default;

$font-family: 'Clash Grotesk', sans-serif !default;
